.page {
    height: 100%;
    background-image: url("../assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-top: 60px;
    align-items: center;
    box-sizing: border-box;
}

.error {
    margin: auto;
    padding-bottom: 60px;
    color: var(--white);
    font-size: var(--text-md);
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading {
    justify-self: center;
    margin-top: 120px;
    margin-bottom: 80px;
    grid-column: 1 / -1;
    width: 28px;
    aspect-ratio: 1;
    --c: no-repeat linear-gradient(var(--orange) 0 0);
    background: 
    var(--c) 0%   50%,
    var(--c) 50%  50%,
    var(--c) 100% 50%;
    background-size: 20% 100%;
    animation: loading 1s infinite linear;
}

@keyframes loading {
    0%  {background-size: 20% 100%,20% 100%,20% 100%}
    33% {background-size: 20% 10% ,20% 100%,20% 100%}
    50% {background-size: 20% 100%,20% 10% ,20% 100%}
    66% {background-size: 20% 100%,20% 100%,20% 10% }
    100%{background-size: 20% 100%,20% 100%,20% 100%}
}