@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --dark-light: #393F6E;
  --dark-medium: #343964;
  --white: #E2E4F3;
  --blue: #3E9FFF;
  --orange: #DD524C;
  --gray: #8B8EAB;
  --yellow: #FFECC8;
  --gradient: linear-gradient(#E65895, #BC6BE8);

  --text-xs: 14px;
  --text-sm: 16px;
  --text-md: 20px;
  --text-lg: 24px;
}

#root {
  height: 100%;
}

body {
  margin: 0;
  height: 100vh;
  font-family: "Be Vietnam Pro", sans-serif;
}

button {
  font-family: inherit;
}